In [1]:
from scraperDB import DBManager
import pandas as pd
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import os

In [2]:
def load_dfs(parent_folder):
    dfs = {}
    for location in os.listdir(parent_folder):
        location_path = os.path.join(parent_folder, location)
        table_name = os.path.basename(location_path)
        if os.path.isdir(location_path):
            file_path = os.path.join(location_path, 'data_clean.csv')
            if os.path.exists(file_path):
                df = pd.read_csv(file_path)
                dfs[table_name] = df
                print(f'DataFrame from {location_path} loaded')
    return dfs

In [3]:
data = {}
data['rent'] = load_dfs('rent')
data['sale'] = load_dfs('sale')

DataFrame from rent/Nottingham loaded
DataFrame from rent/Newcastle-Under-Lyme loaded
DataFrame from rent/Lancaster loaded
DataFrame from rent/York loaded
DataFrame from rent/Loughborough loaded
DataFrame from sale/Nottingham loaded
DataFrame from sale/Newcastle-Under-Lyme loaded
DataFrame from sale/Loughborough loaded
DataFrame from sale/Lancaster loaded
DataFrame from sale/York loaded

In [5]:
dbm = DBManager.DBM()

def generate_dbs(_dict, suffix):
    for k, v in _dict.items():
        db = f'{k}_{suffix}'
        dbm.create_db(db)
        dbm.connect(db, force=True)
        dbm.create_table('original', v, force=True)
        dbm.disconnect(force=True)

generate_dbs(data['rent'], 'rent')
generate_dbs(data['sale'], 'sale')

Initialized new instance of DBM
Database Nottingham_rent initialized.
Locked Nottingham_rent
Connected to 'Nottingham_rent'.
Table 'original' created.
Loaded DataFrame into table 'original' at 'scraperDB/databases/Nottingham_rent/original.csv'.
Unlocked Nottingham_rent
Disconnected from 'Nottingham_rent'.
Database Newcastle-Under-Lyme_rent initialized.
Locked Newcastle-Under-Lyme_rent
Connected to 'Newcastle-Under-Lyme_rent'.
Table 'original' created.
Loaded DataFrame into table 'original' at 'scraperDB/databases/Newcastle-Under-Lyme_rent/original.csv'.
Unlocked Newcastle-Under-Lyme_rent
Disconnected from 'Newcastle-Under-Lyme_rent'.
Database Lancaster_rent initialized.
Locked Lancaster_rent
Connected to 'Lancaster_rent'.
Table 'original' created.
Loaded DataFrame into table 'original' at 'scraperDB/databases/Lancaster_rent/original.csv'.
Unlocked Lancaster_rent
Disconnected from 'Lancaster_rent'.
Database York_rent initialized.
Locked York_rent
Connected to 'York_rent'.
Table 'original' created.
Loaded DataFrame into table 'original' at 'scraperDB/databases/York_rent/original.csv'.
Unlocked York_rent
Disconnected from 'York_rent'.
Database Loughborough_rent initialized.
Locked Loughborough_rent
Connected to 'Loughborough_rent'.
Table 'original' created.
Loaded DataFrame into table 'original' at 'scraperDB/databases/Loughborough_rent/original.csv'.
Unlocked Loughborough_rent
Disconnected from 'Loughborough_rent'.
Database Nottingham_sale initialized.
Locked Nottingham_sale
Connected to 'Nottingham_sale'.
Table 'original' created.
Loaded DataFrame into table 'original' at 'scraperDB/databases/Nottingham_sale/original.csv'.
Unlocked Nottingham_sale
Disconnected from 'Nottingham_sale'.
Database Newcastle-Under-Lyme_sale initialized.
Locked Newcastle-Under-Lyme_sale
Connected to 'Newcastle-Under-Lyme_sale'.
Table 'original' created.
Loaded DataFrame into table 'original' at 'scraperDB/databases/Newcastle-Under-Lyme_sale/original.csv'.
Unlocked Newcastle-Under-Lyme_sale
Disconnected from 'Newcastle-Under-Lyme_sale'.
Database Loughborough_sale initialized.
Locked Loughborough_sale
Connected to 'Loughborough_sale'.
Table 'original' created.
Loaded DataFrame into table 'original' at 'scraperDB/databases/Loughborough_sale/original.csv'.
Unlocked Loughborough_sale
Disconnected from 'Loughborough_sale'.
Database Lancaster_sale initialized.
Locked Lancaster_sale
Connected to 'Lancaster_sale'.
Table 'original' created.
Loaded DataFrame into table 'original' at 'scraperDB/databases/Lancaster_sale/original.csv'.
Unlocked Lancaster_sale
Disconnected from 'Lancaster_sale'.
Database York_sale initialized.
Locked York_sale
Connected to 'York_sale'.
Table 'original' created.
Loaded DataFrame into table 'original' at 'scraperDB/databases/York_sale/original.csv'.
Unlocked York_sale
Disconnected from 'York_sale'.